.org-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
  flex-wrap: wrap;
  min-height: 140px;
  align-content: center;
 }

/* innodems logo */

.innodems-logo {
  height: 40px;
}

/* ami logo */

.ami-logo {
  height: 50px;
}

/* sami logo */

.sami-logo {
  height: 50px;
}

/* idems logo */

.idems-logo {
  height: 40px;
}