<div class="org-logos">
        <a href=" https://www.idems.international/" target="_blank">
            <img class="innodems-logo" src=" assets/images/innodems-logo-v2.png">
        </a>

        <a href="https://www.facebook.com/africanmathsinitiative.net/?epa=SEARCH_BOX" target="_blank">
            <img class="ami-logo" src=" assets/images/ami_cropped.jpg">
        </a>

        <a href="https://samicharity.co.uk/" target="_blank">
            <img class="sami-logo" src=" assets/images/sami_logo.png">
        </a>

        <a href=" https://www.idems.international/" target="_blank">
            <img class="idems-logo" src=" assets/images/new_idems_logo.png">
        </a>

    </div>