.logo {
  width: 100px;
  height: 80px;
}

.toolbar {
    justify-content: space-between;
  }

  .desktop-menu {
  display: flex;
  flex-direction: row;
}

.desktop-menu a {
  align-self: center;
  font-weight: 500;
  text-decoration: none;
  color: #0b4061;
  padding: 0px 20px; 
  transition-duration: 0.4s;
}

.desktop-menu a:hover {
  text-decoration: none;
  border-bottom: 4px solid #0b4061;
}

  .website-title {
    display: block;
    color: #0b4061;
    font-weight: 500;
    font-size: 1.6rem;
    align-self: center;
    margin: 0px;
  }