<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section class="team">
  <div class="container">
    <h5 class="section-title h1">MEET THE TEAM</h5>
    <div class="row">

<!-- Team member -->
<div class="col-xs-12 col-sm-6 col-md-4">
  <div>
    <div class="mainflip flip-0">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img
                class="img-fluid"
                src="assets/images/zach.jpg"
                alt="card image"
              />
            </p>
            <h4 class="card-title">Zach Mbasu</h4>
            <h6 class="card-title">Educator & Director Innodems</h6>
            <p class="card-text">
             Zach is the Director of Innodems. He is an experienced teacher and an advocate for quality education for all. He specialises in sustainable and scalable approaches for programme implementation to improve learning outcomes in Africa.
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""  >
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of person-->

<!-- Team member -->
<div class="col-xs-12 col-sm-6 col-md-4">
  <div>
    <div class="mainflip flip-0">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img
                class="img-fluid"
                src="assets/images/maxwell.jpg"
                alt="card image"
              />
            </p>
            <h4 class="card-title">Maxwell Fundi</h4>
            <h6 class="card-title">Software Developer, Innodems</h6>
            <p class="card-text">
              Maxwell is an Information Technology graduate from Maseno University with a great interest in technology, innovation and education. He has been involved in supporting the use of technology in education initiatives at AMI over the last 5 years. He is currently a software developer and educator at the Innodems.
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""  >
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of person-->


<!-- Team member -->
<div class="col-xs-12 col-sm-6 col-md-4">
  <div>
    <div class="mainflip flip-0">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img
                class="img-fluid"
               src="assets/images/laetitia.jpg"
                alt="card image"
              />
            </p>
            <h4 class="card-title">Christine Laetitia</h4>
            <h6 class="card-title">INNODEMS</h6>
            <p class="card-text">
             Laetitia is part of the developing and reviewing content for Soma Nyumbani
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""
                >
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" >
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of person-->


 <!-- Team member -->
 <div class="col-xs-12 col-sm-6 col-md-4">
  <div>
    <div class="mainflip flip-0">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img
                class="img-fluid"
                src="assets/images/kelvin.jpg"
                alt="card image"
              />
            </p>
            <h4 class="card-title">Kelvin Kuya</h4>
            <h6 class="card-title">Biochemist & Intern AMI</h6>
            <p class="card-text">
              Kelvin is an intern at AMI and part of the team that is developing content for Soma Nyumbani. He is an educator who is eager to integrate technology in learning. He is a Bachelors of Science (Biochemistry) holder from Kabianga University.
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""  >
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of person-->


<!-- Team member -->
<div class="col-xs-12 col-sm-6 col-md-4">
  <div>
    <div class="mainflip flip-0">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img
                class="img-fluid"
               src="assets/images/ateamate.jpg"
                alt="card image"
              />
            </p>
            <h4 class="card-title">Ateamate Mukabana</h4>
            <h6 class="card-title">Bsc. Mathematics (Statistics) student & Intern AMI</h6>
            <p class="card-text">
              Ateamate is an intern at AMI and part of the team that is developing content for Soma Nyumbani. She is a Facilitator at International Community for Collaborative Content Creation (IC4). She is a third year Bsc. Mathematics (Statistics) student at Pwani University.
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""  >
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of person-->


<!-- Team member -->
<div class="col-xs-12 col-sm-6 col-md-4">
  <div>
    <div class="mainflip flip-0">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img
                class="img-fluid"
               src="assets/images/david.jpg"
                alt="card image"
              />
            </p>
            <h4 class="card-title">David Stern</h4>
            <h6 class="card-title">Co-Founder, IDEMS International</h6>
            <p class="card-text">
              
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""  >
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of person-->



<!-- Team member -->
<div class="col-xs-12 col-sm-6 col-md-4">
  <div>
    <div class="mainflip flip-0">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img
                class="img-fluid"
                src="assets/images/santiago.jpg"
                alt="card image"
              />
            </p>
            <h4 class="card-title">Santiago Borio</h4>
            <h6 class="card-title">Education Lead, IDEMS International</h6>
            <p class="card-text">
              Santiago is the Education Lead at IDEMS International. He is leading the content development of Soma Nyumbani and working in partnership with the Kenyan team in the distribution of materials.
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""  >
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of person-->



<!-- Team member -->
<div class="col-xs-12 col-sm-6 col-md-4">
  <div>
    <div class="mainflip flip-0">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img
                class="img-fluid"
                src="assets/images/john.jpg"
                alt="card image"
              />
            </p>
            <h4 class="card-title">John Argentino</h4>
            <h6 class="card-title">IDEMS International</h6>
            <p class="card-text">
              John is passionate about Math education in East Africa, having served as a secondary Math teacher in Peace Corps Tanzania. He is contributing to the writing of daily sessions and the development of the Soma Nyumbani website and app.
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""  >
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of person-->

 
<!-- Team member -->
<div class="col-xs-12 col-sm-6 col-md-4">
  <div>
    <div class="mainflip flip-0">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img
                class="img-fluid"
                src="assets/images/sam.jpg"
                alt="card image"
              />
            </p>
            <h4 class="card-title"Samuel Kogalloh></h4>
            <h6 class="card-title">Educator & Intern AMI</h6>
            <p class="card-text">
              Samuel is a Maths teacher from Kenya dedicated to promoting the beauty of mathematics at every level. He is an intern at SAMI involved in creating resources for the Community Based Learning Program.
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href="" 
                >
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-icon text-xs-center"
                  target="_blank"
                  href=""  >
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of person-->


<!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div>
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="assets/images/jacob.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Jacob Bwire</h4>
                  <h6 class="card-title">Educator & Intern AMI</h6>
                  <p class="card-text">
                    Jacob Bwire is a Mathematics teacher who is passionate about Technology Integration in education. He is currently an intern at AMI and collaborating in the development of sessions for Soma Nyumbani project. He has a Bachelors Degree in Education (Arts) from Kibabii University.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="" 
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="" 
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="" 
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href=""  >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of person-->


















    </div>

<!-- Team -->
