<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="team">
  <div class="container">
    <div>
      <h1> Summary of Soma Nyumbani</h1>
      Soma Nyumbani is supporting teachers in the Community Based Learning programme by producing ready-to-deliver session plans, designed to cover all the requirements outlined in the official documentation published by the MOE and TSC. 
      Sessions are planned to take one hour each and are grouped into 4 daily sessions. However, we recommend teachers to be flexible and adapt the timings to their individual group of students’ needs. 
      Sessions will be published on a regular basis making it easy for teachers to access. The New Sessions [link to New Sessions page] can be found below and a list of all the sessions published is available in the All Sessions [link to All Sessions page] section.
      <h1>New Sessions</h1>
      [List of the newest 4 sessions with direct links to the pdfs and a ‘more details’ link to New Sessions page]
     <h1>Testimonials</h1> 
[box with a carousel shifting through quotes from teachers]
<ul>
<li>Quote 1</li>
Teacher quote: “It is a nice initiative and in line with competency-based curriculum… this is the way to go in this challenging times of COVID-19“
<li>Quote 2</li>
Teacher quote: “I am learning new teaching strategies and other ways of engaging learners. I am now confident to teach things that such as writing“
<li>Quote 3</li>
Teacher quote: “I am helping kids from the neighbourhood. What you are sharing is very useful and helpful for my everyday teaching and learning activities.“
<li>Quote 4</li>
Teacher quote: “This is quite good and educative for teachers. It shows teachers how to interact with learners during the lesson and how to help them participate fully in the lesson.
<li>Quote 5</li>
Teacher quote: “Thanks so much for the opportunity, with the pandemic and staying at home thing it is a good reminder of what I am expected to do when back to class. These Soma nyumani activities has helped me to know how to make teaching/learning easier, more relevant and interesting and how to save time. I would encourage more teachers to use the activities since it will freshen their minds and make them to be more eager to teach. Thanks for the materials and I have gained a lot.“
<li>Quote 6</li>
Teacher quote: “Thank you so much for these materials. It is very helpful one. It makes teaching and learning real and live.  Both the learners and the teacher enjoy lessons. I have enjoyed the session and I will repeat it with my family in the evening“
<li>Quote 7</li>
Teacher quote: “When schools open, the organisers of Soma Nyumbani should come to the ground and conduct training on classroom instruction so that all the staff members can benefit“ 
</ul>
    </div>
    <div>
      <h1>Teaching Resources for Community Based Learning</h1>
      <p>
        We are supporting teachers in the Community Based Learning programme by producing four daily session guides in a ready-to-use format.
       Sessions will be published on a daily basis making it easy for teachers to access and we also provide access to all the daily sessions so that teachers can start from the first set of materials or continue from the four new sessions published every weekday.
        <a href="/all-sessions">all the daily sessions</a> so that teachers
        can start from the first set of materials or continue from the four new
        sessions published every weekday.
      </p>
      <h1>Today's Sessions</h1>
      <p>
        If you would like to prepare in advance, you can find tomorrow's
        sessions you can find them <a href="/next">here</a>.
      </p>
      <h1>Feedback</h1>
      <p>
        If you use our materials, we would be thankful if you could spend a few
        moments answering the following two feedback questions as often as you
        feel is useful.
      </p>
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSch9thXwJD5IVf6T4U6NWFMs9DD0X5c6P23GTmSBr8ivYcsjQ/viewform?embedded=true"
        width="100%"
        height="610"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Loading…</iframe
      >
      <p>
        If you have any additional feedback or questions please
        <a href="mailto:contact@somanyumbani.com">contact us</a>.
      </p>
    </div>
  </div>
</section>
